.ChatButton {
  width: 100%;
  //margin-top: 85%;
  //margin: 0 auto;
}

.ChatButton input {
  width: 80%;
  height: 50px;
  //border: none;
  background: yellow;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 1px lightgrey;
}

.ChatButton button {
  width: 15%;
  margin-left: 4%;
  border: none;
  border-radius: 20px;

  background: aqua;

  &:hover {
    color: lightgoldenrodyellow;
    background: darkslategray;
  }
}