.ChatBox {
  width: 50%;
  border: solid 1px black;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 5%;
}

.ChatBox li {
  width: 100%;
}

.ChatBubble {
  list-style: none;
}

.ConnectBubble {
  list-style: none;
  text-align: center;
  font-size: 1vw;
  width: 25%;
  background: lightgrey;
  color: white;
}

.ChatBubble span {
  font-size: 1vw;
  color: gray;
}

.Send {
  text-align: right;
}

.Send p {
  display: table;
  background: lightskyblue;
  border-radius: 20px;
  margin: 0 0 0 auto;
}

.Receive {
  text-align: left;
}

.Receive p {
  display: table;
  background: lightyellow;
  border-radius: 20px;
  margin: 0 0 0 0;
}