.searchListContainer {
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

.searchList {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 50px;

  &:hover {
    background: lightgrey;
  }
}